<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>@ViewBag.Title</title>
  <!--[if lte IE 6]>
    <script src="@Url.Content("~/lib/png.js")" type="text/javascript"></script>
    <script type="text/javascript">
        try {
            document.execCommand("BackgroundImageCache", false, true);
        } catch(e) {}
        DD_belatedPNG.fix('div,p,h1,h2,h3,h4,ul,li,img,a,a:hover,span,em,b,i');
    </script>
  <![endif]-->
﻿<link href="@Url.Content("~/style/css/core.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/lib/rwpUI/skins/lightblue/css/rwpButton.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/lib/rwpUI/skins/lightblue/css/rwpDialog.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/lib/jquery-1.11.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/lib/rwpUI/js/core/rwpInit.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/lib/rwpUI/js/ui/rwpButton.js")" type="text/javascript"></script>
<script src="@Url.Content("~/lib/rwpUI/js/ui/rwpDialog.js")" type="text/javascript"></script>
<script src="@Url.Content("~/lib/rwpUI/js/ui/rwpDialog.plugin.js")" type="text/javascript"></script>
  @RenderSection("head", false)
</head>
<body>
@RenderBody()
</body> 
</html>
